# Dataverse - Bean and Brew - Sustainable Strategy

In [5]:
library(tidyverse)
#library(tidymodels)
#library(tidyclust)
library(repr)
library(GGally)
options(repr.matrix.max.rows = 6)
#source("cleanup.R")

In [6]:
items <- read_csv("items.csv")
items

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”
Rows: 17 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): item_name, item_type, drink_temperature, drink_type
dbl (2): price, production_cost

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   item_name           price production_cost item_type   drink_temperature
1  Espresso            3.0   0.8             Drink       Hot
2  Americano           3.5   1.0             Drink       Hot
3  Latte               4.5   1.2             Drink       Hot
⋮  ⋮                   ⋮     ⋮               ⋮           ⋮
15 Reusable Coffee Cup 15    6               Merchandise N/A
16 Tote Bag            12    4               Merchandise N/A
17 Coffee Beans (1 lb) 18    8               Merchandise N/A
   drink_type
1  Coffee
2  Coffee
3  Coffee
⋮  ⋮
15 NA
16 NA
17 NA

In [7]:
sales <- read_csv("sales.csv")
sales

Rows: 32605 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): item_name, transaction_type, own_cup
dbl  (1): customer_id
lgl  (1): surcharge
date (1): date
time (1): time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

      date       time     item_name   transaction_type own_cup surcharge
1     2022-01-01 07:03:30 Cold Brew   Takeout          True    FALSE
2     2022-01-01 07:30:58 Iced Coffee Takeout          True    FALSE
3     2022-01-01 08:32:23 Iced Latte  Takeout          False   FALSE
⋮     ⋮          ⋮        ⋮           ⋮                ⋮       ⋮
32603 2024-12-31 14:36:31 Chai Latte  Dine-in          True    FALSE
32604 2024-12-31 14:57:19 Cappuccino  Takeout          True    FALSE
32605 2024-12-31 15:30:12 Espresso    Dine-in          False   FALSE
      customer_id
1     26946
2     24356
3      3760
⋮     ⋮
32603 15227
32604 21314
32605 11063

In [8]:
coffee <- inner_join(items,sales)
coffee

Joining with `by = join_by(item_name)`

      item_name           price production_cost item_type   drink_temperature
1     Espresso            3     0.8             Drink       Hot
2     Espresso            3     0.8             Drink       Hot
3     Espresso            3     0.8             Drink       Hot
⋮     ⋮                   ⋮     ⋮               ⋮           ⋮
32603 Coffee Beans (1 lb) 18    8               Merchandise N/A
32604 Coffee Beans (1 lb) 18    8               Merchandise N/A
32605 Coffee Beans (1 lb) 18    8               Merchandise N/A
      drink_type date       time     transaction_type own_cup surcharge
1     Coffee     2022-01-02 10:43:09 Takeout          False   FALSE
2     Coffee     2022-01-02 15:26:48 Takeout          True    FALSE
3     Coffee     2022-01-03 07:18:28 Dine-in          False   FALSE
⋮     ⋮          ⋮          ⋮        ⋮                ⋮       ⋮
32603 NA         2024-12-24 07:25:20 Dine-in          N/A     FALSE
32604 NA         2024-12-26 13:02:19 Takeout          N/A     FALSE
32605 NA         2024-12-29 13:38:39 Dine-in          N/A     FALSE
      customer_id
1     18500
2     11609
3     10437
⋮     ⋮
32603 16702
32604 12418
32605 29715

In [10]:
merch <- filter(coffee, item_type == "Merchandise")
head(merch)

  item_name           price production_cost item_type   drink_temperature
1 Reusable Coffee Cup 15    6               Merchandise N/A
2 Reusable Coffee Cup 15    6               Merchandise N/A
3 Reusable Coffee Cup 15    6               Merchandise N/A
4 Reusable Coffee Cup 15    6               Merchandise N/A
5 Reusable Coffee Cup 15    6               Merchandise N/A
6 Reusable Coffee Cup 15    6               Merchandise N/A
  drink_type date       time     transaction_type own_cup surcharge customer_id
1 NA         2022-01-11 07:19:12 Takeout          N/A     FALSE     24356
2 NA         2022-01-12 09:52:37 Takeout          N/A     FALSE     14571
3 NA         2022-01-13 07:11:59 Dine-in          N/A     FALSE     24899
4 NA         2022-01-13 11:05:11 Takeout          N/A     FALSE     28805
5 NA         2022-01-15 11:54:42 Dine-in          N/A     FALSE     28857
6 NA         2022-01-20 09:38:23 Takeout          N/A     FALSE      7076

In [11]:
coffee_only <- filter(coffee, item_type != "Merchandise")
head(coffee_only)

  item_name price production_cost item_type drink_temperature drink_type
1 Espresso  3     0.8             Drink     Hot               Coffee
2 Espresso  3     0.8             Drink     Hot               Coffee
3 Espresso  3     0.8             Drink     Hot               Coffee
4 Espresso  3     0.8             Drink     Hot               Coffee
5 Espresso  3     0.8             Drink     Hot               Coffee
6 Espresso  3     0.8             Drink     Hot               Coffee
  date       time     transaction_type own_cup surcharge customer_id
1 2022-01-02 10:43:09 Takeout          False   FALSE     18500
2 2022-01-02 15:26:48 Takeout          True    FALSE     11609
3 2022-01-03 07:18:28 Dine-in          False   FALSE     10437
4 2022-01-03 07:19:59 Takeout          False   FALSE     28495
5 2022-01-05 09:04:35 Takeout          True    FALSE     18747
6 2022-01-08 07:49:31 Dine-in          True    FALSE     24401

        item_name             price   production_cost         item_type
                0                 0                 0                 0
drink_temperature        drink_type              date              time
                0                 0                 0                 0
 transaction_type           own_cup         surcharge       customer_id
                0                 0                 0                 0